<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="plantilla/template :: head">

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini CORE</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">

    
</head>

<body>
    <header class="site-header inicio">
        <!-- Contenido del encabezado -->
        <div th:replace="plantilla/template :: header"></div>
        
        <div>

            <h1>Ejercicio Mini CORE Ventas</h1>   
            
        </div>  
    </header>

    
    	<footer th:replace="plantilla/template :: footer"></footer>
    
	
</body>
</html>